In [16]:
import pandas as pd
x = "Dzisiaj mamy fascynujacy dzien duzo nauki"
lst =  x.split(" ")
# list of int
lst2 = list(range(1,7))
  
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Word', 'Value'])

df.head(10)

          Word  Value
0      Dzisiaj      1
1         mamy      2
2  fascynujacy      3
3        dzien      4
4         duzo      5
5        nauki      6

In [15]:
df[df["Value"] > 3]

    Word  Value
3  dzien      4
4   duzo      5
5  nauki      6

In [35]:
df.iloc[:3,:]

          Word  Value
0      Dzisiaj      1
1         mamy      2
2  fascynujacy      3